Flask==1.0.2
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.3.3
psycopg2==2.8.2
Flask-Bootstrap==3.3.7.1
Flask-WTF==0.14.2
Flask-Login==0.4.1
Flask-Bcrypt==0.7.1
lxml==4.3.3
python-dateutil==2.8.0
xkcdpass==1.17.2
pytest==4.4.1
gpxpy==1.3.5
html5lib==1.0.1
Flask-Script==2.0.6
Flask-Migrate==2.4.0
flask_util_js==0.2.25
geopy==1.19.0
numpy==1.16.2
pytz==2019.1
MonthDelta==0.9.1
stravalib==0.10.2
