Flask==0.10.1
Flask-SQLAlchemy==2.0
SQLAlchemy==1.0.8
psycopg2==2.6.1
Flask-Bootstrap==3.3.5.6
Flask-WTF==0.12
Flask-Login==0.3.0
Flask-Bcrypt==0.6.2
lxml==3.4.4
python-dateutil==2.4.2
xkcdpass==1.2.5
pytest==2.8.0
gpxpy==0.9.8
html5lib==0.9999999
Flask-Script==2.0.5
Flask-Migrate==1.6.0
flask_util_js==0.2.25
geopy==1.11.0
numpy==1.9.3
pytz==2015.6
MonthDelta==0.9.1
