Flask==0.12.2
Flask-SQLAlchemy==2.2
SQLAlchemy==1.1.14
psycopg2==2.7.3.1
Flask-Bootstrap==3.3.7.1
Flask-WTF==0.14.2
Flask-Login==0.4.0
Flask-Bcrypt==0.7.1
lxml==3.8.0
python-dateutil==2.6.1
xkcdpass==1.12.0
pytest==3.2.1
gpxpy==1.1.2
html5lib==0.999999999
Flask-Script==2.0.5
Flask-Migrate==2.1.1
flask_util_js==0.2.25
geopy==1.11.0
numpy==1.13.1
pytz==2017.2
MonthDelta==0.9.1
stravalib==0.6.6
