body {
    padding-top: 60px;
}

pre {
	font-size: 8px;
	padding: 5px;
}

.json {
	font-family: monospace;
	white-space: nowrap;
}

.map {
	height: 500px;
	width: 100%;
}

div.alert {
    max-width: 800px;
    padding: 4px 10px;
    margin: 10px auto;
}

.btn.btn-black {
	color: black;
}

table.table-auto-width {
	width: auto;
}

.table.table-auto-width tr > th,
.table.table-auto-width tr > td
{
	padding: 8px 15px;
}

span.date-time {
    white-space: nowrap;
}

div.activity-filter ul li {
    white-space: nowrap;
}

table.moves td, table.moves th {
    white-space: nowrap;
}

a.all-moves {
	font-weight: bold;
}

button.edit-icon {
    color: #ccc;
    padding: 0px;
    padding-bottom: 2px;
    margin: 0px;
    font-size: 80%;
    line-height: 1;
}

h1 button.edit-icon {
    font-size: 60%;
}

button.edit-icon:hover {
    color: black;
}
