body {
    padding-top: 60px;
}

pre {
	font-size: 8px;
	padding: 5px;
}

.json {
	font-family: monospace;
}

.map {
	height: 500px;
	width: 100%;
}

div.alert {
    max-width: 800px;
    padding: 4px 10px;
    margin: 10px auto;
}

.btn.btn-black {
	color: black;
}

table.table-auto-width {
	width: auto;
}

.table.table-auto-width tr > th,
.table.table-auto-width tr > td
{
	padding: 8px 15px;
}

span.date-time {
    white-space: nowrap;
}
