.layer-switcher {
    top: 3em;
    right: 0.5em;
}

.layer-switcher button {
    height: 1.375em;
    width: 1.375em;
    color: white;
    background: rgba(0, 60, 136, 0.5);
    border: none;
}

.layer-switcher .panel {
    padding-right: 1em;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10;
    display: none;
}

.layer-switcher button:focus, .layer-switcher button:hover {
    background-color: rgba(0, 60, 136, 0.7);
}
