{% extends "_base.html" %}
{% import '_chart.html' as chart with context %}

{% set active_page = "Move %d" % move.id -%}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/ol.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/ol3-layerswitcher.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/map.css')}}">
{% endblock %}

{% block content %}
{{super()}}
<div class="container" role="main">

	{% if current_user.is_authenticated %}
	<h4 class="editable-public">{{macros.editable_public(move, 'primary')}}</h4>
	{% endif %}

    <h1>{{macros.editable_activity(move)}}</h1>

    {% block subheader -%}{%- endblock %}

    {% if move.location_address -%}
    <h3>{{move.location_raw|short_location}}</h3>
    <p title="{{move.location_raw}}">{{move.location_address}}</p>
    {%- endif %}

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownExport" data-toggle="dropdown" aria-expanded="true">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export Move <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownExport">
        <li {% if not gps_samples %}class="disabled"{% endif %} role="presentation">
          <a role="menuitem" tabindex="-1" href="{{url_for('export_move', id=move.id, format='gpx') if gps_samples else "#"}}">as GPX</a>
        </li>
        <li>
          <a role="menuitem" tabindex="-1" href="{{url_for('export_move', id=move.id, format='csv')}}">as CSV</a>
        </li>
      </ul>
      {% if current_user.is_authenticated %}
      <a class="btn btn-default" type="button" id="deleteMove"
              onclick="return confirm('Are you sure you want to delete this move?');"
              href="{{url_for('delete_move', id=move.id, start_date=start_date, end_date=end_date)}}">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Move
      </a>
      {% endif %}
    </div>

    <br/>

    <table class="table table-condensed">
        <thead>
            <tr>
                {% block table_header %}
                <th>Time</th>
                {% block table_header_after_time %}
                {% endblock %}
                <th>Avg. Speed</th>
                {% if move.speed_max %}<th>Max. Speed</th>{% endif %}
                <th>Duration</th>
                <th>Distance</th>
                <th>Avg. Temperature</th>
                {% if move.hr_avg %}<th>Avg. Heart Rate</th>{% endif %}
                {% if move.recovery_time %}<th>Recovery</th>{% endif %}
                {% if move.time_to_first_fix %}<th>First fix</th>{% endif %}
                {% endblock %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% block table_entry %}
                <td>{{move.date_time | date_time}}</td>
                {% block table_entry_after_time %}
                {% endblock %}
                <td>{{macros.kmh(move.speed_avg)}}</td>
                {% if move.speed_max %}<td>{{macros.kmh(move.speed_max)}}</td>{% endif %}
                <td>{{move.duration | duration}}</td>
                <td>{{macros.format_move_distance(move, move.distance)}}</td>
                <td>{{macros.temperature(move.temperature_avg)}}</td>
                {% if move.hr_avg %}<td>{{macros.hr(move.hr_avg)}}</td>{% endif %}
                {% if move.recovery_time %}<td>{{move.recovery_time | duration}}</td>{% endif %}
                {% if move.time_to_first_fix %}<td>{{move.time_to_first_fix | duration}}</td>{% endif %}
                {% endblock %}
            </tr>
        </tbody>
    </table>

    {% if move.ascent or move.descent %}
    <table class="table table-condensed">
        <thead>
            <tr>
                {% block ascent_descent_table_header %}
                {% if move.ascent %}<th>Ascent</th>{% endif %}
                {% if move.descent %}<th>Descent</th>{% endif %}
                {% if move.ascent_time %}<th>Ascent Time</th>{% endif %}
                {% if move.descent_time %}<th>Descent Time</th>{% endif %}
                {% if move.altitude_min_time %}<th>Altitude Max. Time</th>{% endif %}
                {% if move.altitude_max_time %}<th>Altitude Min. Time</th>{% endif %}
                {% endblock %}
            </tr>
        </thead>
        <tbody>
            {% block ascent_descent_table_entry %}
            <tr>
                {% if move.ascent %}<td>{{macros.format_hm(move.ascent)}}</td>{% endif %}
                {% if move.descent %}<td>{{macros.format_hm(move.descent)}}</td>{% endif %}
                {% if move.ascent_time %}<td>{{move.ascent_time| duration}}</td>{% endif %}
                {% if move.descent_time %}<td>{{move.descent_time| duration}}</td>{% endif %}
                {% if move.altitude_min_time %}<td>{{move.altitude_min_time| duration}}</td>{% endif %}
                {% if move.altitude_max_time %}<td>{{move.altitude_max_time| duration}}</td>{% endif %}
            </tr>
            {% endblock %}
        </tbody>
    </table>
    {% endif %}

    {% if gps_samples %}
    <h2>Map</h2>
    <div id="map" class="map thumbnail" tabindex="0"></div>
	<button id="zoombest">Reset Zoom</button>
    {% endif %}

    {% if pauses %}
    <h2>Pauses</h2>
    <table class="table table-condensed">
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for pause in pauses %}
        <tr>
            {% set start = pause[0].time %}
            {% set end = pause[1].time %}
            <td>{{macros.date_time_offset(start)}}</td>
            <td>{{macros.date_time_offset(end)}}</td>
            <td>{{(end - start) | duration}}</td>
        </tr>
        {%- endfor %}
    </tbody>
    </table>
    {% endif %}

    {% block Laps %}
    {% if laps %}
    <h2>Laps</h2>
    <table class="table table-condensed">
    <thead>
        <tr>
            <th>Lap</th>
            <th>Timestamp</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {%- for sample in laps -%}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{macros.date_time_offset(sample.time)}}</td>
            <td>{{sample.events.lap.duration | duration}}</td>
            <td>{{macros.format_move_distance(move, sample.events.lap.distance | float)}}</td>
            <td>{{sample.events.lap.type}}</td>
        </tr>
        {%- endfor -%}
    </tbody>
    </table>
    {% endif %}
    {% endblock %}

    {% block chart_blocks %}
    {{chart.chart_block('temperature')}}
    {{chart.chart_block('altitude')}}
    {{chart.chart_block('hr')}}
        {% block speed_chart_blocks %}
        {{chart.chart_block('speed')}}
        {{chart.chart_block('speed_equidistant')}}
        {% endblock %}
    {% endblock %}

    {% block additional_information %}
    {% endblock %}

    {% block events %}
    <h2>Events</h2>
    <table class="table table-condensed">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Event</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {%- for sample in events -%}
        {%- if not sample.events.swimming %}
        <tr>
            {% set event = (sample.events.keys()|list)[0] %}
            <td>{{macros.date_time_offset(sample.time)}}</td>
            <td>{{event}}</td>
            <td class="json">{{sample.events[event] | tojson}}</td>
        </tr>
        {%- endif -%}
        {%- endfor -%}
    </tbody>
    </table>
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/highcharts.js')}}"></script>

<script>
$(document).ready(function() {
{% block chart_scripts %}
    {{chart.chart_by_time('temperature', samples, 0.1, 'celcius')}}
    {{chart.chart_by_time('altitude', samples, 1.5)}}
    {{chart.chart_by_time('hr', samples, 0.1, 'bpm')}}
    {{chart.chart_by_time('speed', samples, 0.1, 'kmh')}}
    {{chart.speed_chart_by_time_equidistance('speed_equidistant', samples, 100, 'kmh')}}
{% endblock %}

{% if gps_samples %}
var styles = {
  'LineString': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'blue',
      width: 2
    })
  })],
  'MultiLineString': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'green',
      width: 1
    })
  })],
  'MultiPolygon': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'yellow',
      width: 1
    }),
    fill: new ol.style.Fill({
      color: 'rgba(255, 255, 0, 0.1)'
    })
  })],
  'Polygon': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'blue',
      lineDash: [4],
      width: 3
    }),
    fill: new ol.style.Fill({
      color: 'rgba(0, 0, 255, 0.1)'
    })
  })],
  'Circle': [new ol.style.Style({
    stroke: new ol.style.Stroke({
      color: 'red',
      width: 2
    }),
    fill: new ol.style.Fill({
      color: 'rgba(255,0,0,0.2)'
    })
  })]
};

var styleFunction = function(feature, resolution) {
  return styles[feature.getGeometry().getType()];
};

var geoJsonObject = {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "type": "LineString",
        "coordinates": [
          {%- for sample in gps_samples -%}
          ol.proj.transform([
              {{sample.longitude | degree}},
              {{sample.latitude | degree}}
            ], 'EPSG:4326', 'EPSG:3857'),
          {% endfor %}
        ]
      }
    }
  ]
}

var vectorSource = new ol.source.Vector({
  features: (new ol.format.GeoJSON()).readFeatures(geoJsonObject)
});

var vectorLayer = new ol.layer.Vector({
  title: 'Move',
  source: vectorSource,
  style: styleFunction
});

var resize_full_glyphicon = document.createElement("span");
resize_full_glyphicon.setAttribute('class','glyphicon glyphicon-resize-full');
var resize_small_glyphicon = document.createElement("span");
resize_small_glyphicon.setAttribute('class','glyphicon glyphicon-resize-small');

var openStreetMapLayer = new ol.layer.Tile({title: 'OpenStreetMap',
                                            visible: false,
                                            type: 'base',
                                            source: new ol.source.OSM()
                                          });


var openTopoMapLayer = new ol.layer.Tile({title: 'OpenTopoMap',
                                          type: 'base',
                                          visible: false,
                                          source: new ol.source.XYZ({
                                          url: '//{a-c}.tile.opentopomap.org/{z}/{x}/{y}.png'
                                          })
                                        });

var hillshadingOverlay = new ol.layer.Tile({title: 'Hillshading',
                                            visible: false,
                                            source: new ol.source.XYZ({
                                                url: '//tiles.wmflabs.org/hillshading/{z}/{x}/{y}.png'
                                            })
                                          });

var openSkiMapOverlay = new ol.layer.Tile({title: 'OpenSkiMap',
                                           visible: false,
                                           source: new ol.source.XYZ({
                                               url: 'http://tiles.skimap.org/openskimap/{z}/{x}/{y}.png'
                                           })
                                         });

var map_layers = [
    openTopoMapLayer,
    openStreetMapLayer
];

{% if move.activity in ('Ski touring', 'Via Ferrata', 'Rock climbing') -%}
openTopoMapLayer.setVisible(true);
{%- else -%}
openStreetMapLayer.setVisible(true);
hillshadingOverlay.setVisible(true);
{%- endif %}

{# Load Bing maps if an API key is configured #}
{% if BING_MAPS_API_KEY -%}
map_layers.splice(0, 0,
    new ol.layer.Tile({title: 'Bing Road', type: 'base', visible: false,
        source: new ol.source.BingMaps({ key: '{{BING_MAPS_API_KEY}}', imagerySet: 'Road'})}),
    new ol.layer.Tile({title: 'Bing AerialWithLabels', type: 'base', visible: false,
          source: new ol.source.BingMaps({ key: '{{BING_MAPS_API_KEY}}', imagerySet: 'AerialWithLabels', maxZoom: 19})}),
    new ol.layer.Tile({title: 'Bing Aerial', type: 'base', visible: false,
        source: new ol.source.BingMaps({ key: '{{BING_MAPS_API_KEY}}', imagerySet: 'Aerial', maxZoom: 19})})
    )
{% endif %}

var view = new ol.View({ });

var map = new ol.Map({
  target: 'map',
  layers: [
    new ol.layer.Group({title: 'Base maps', layers: map_layers }),
    new ol.layer.Group({title: 'Overlay', layers: [openSkiMapOverlay, hillshadingOverlay, vectorLayer]})
  ],
  view: view,
  controls: ol.control.defaults().extend([
    new ol.control.FullScreen({label: resize_full_glyphicon, labelActive: resize_small_glyphicon}),
    new ol.control.ScaleLine({ units: 'metric' }),
    new ol.control.OverviewMap()
  ])
});

var layerSwitcher = new ol.control.LayerSwitcher({
  tipLabel: 'Map layers',
  buttonLabel: '<span class="glyphicon glyphicon-menu-hamburger"/>'
});
map.addControl(layerSwitcher);

function resetZoom() {
	var feature = vectorSource.getFeatures()[0];
	var polygon = (feature.getGeometry());
	var size = /** @type {ol.Size} */ (map.getSize());
	view.fit(polygon, size, {padding: [20, 20, 20, 20], constrainResolution: false});
}

$('#zoombest').click(resetZoom);

$().ready(resetZoom);

{% endif %}
});
</script>

<script src="{{url_for('.static', filename='js/jquery-ui.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/ol.js')}}"></script>
<script src="{{url_for('.static', filename='js/ol3-layerswitcher.js')}}"></script>
{% endblock %}
