{% extends "move/_move.html" %}

{% block tableHeader %}
{{ super() }}
<th>Pool Length</th>
{% endblock %}

{% block tableEntry %}
{{ super() }}
<td>{{move.poolLength}}</td>
{% endblock %}

{% block chartBlocks %}
{{chart.chartBlock('temperature')}}
{{chart.chartBlock('speed')}}
{% endblock %}

{% block chartScripts %}
{{chart.chartByTime('temperature', samples, 0.1, 'celcius')}}
{{chart.speedChartByTimeEquiDistance('speed', samples, move.poolLength, 'kmh')}}
{% endblock %}

{% block additionalInformation %}
{% block swimmingStyles %}
<h2>Styles</h2>
<table class="table table-condensed">
<tr>
    <th>Timestamp</th>
    <th>Time</th>
    <th>Style</th>
    <th>Classification Vector</th>
</tr>
{%- for sample in swimmingEvents -%}
{%- if sample.events['swimming']['type'] == 'StyleChange' %}
{%- if eventBefore -%}
<tr>
    <td>{{macros.dateTimeOffset(sample.time)}}</td>
    <td>{{(sample.time - eventBefore.time) | duration}}</td>
    <td>{{sample.events['swimming']['prevPoolLengthStyle']}}</td>
    <td class="json">{{sample.events['swimming']['classificationVector']['item'] | tojson}}</td>
</tr>
{%- endif -%}
{% set eventBefore = sample %}
{%- endif -%}
{%- endfor -%}
</table>
{% endblock %}

{% block swimmingTurns %}
<h2>Turns</h2>
<table class="table table-condensed">
<tr>
    <th>Number</th>
    <th>Timestamp</th>
    <th>Time</th>
    <th>Distance</th>
    <th>Classification Vector</th>
</tr>
{%- for sample in swimmingEvents -%}
{%- if sample.events['swimming']['type'] == 'Turn' %}
{%- if eventBefore -%}
<tr>
    <td>{{sample.events['swimming']['totalLengths']}}</td>
    <td>{{macros.dateTimeOffset(sample.time)}}</td>
    <td>{{(sample.time - eventBefore.time) | duration}}</td>
    <td>{{macros.formatMoveDistance(move, (sample.events['swimming']['totalLengths']|int) * move.poolLength)}}</td>
    <td class="json">{{sample.events['swimming']['classificationVector']['item'] | tojson}}</td>
</tr>
{%- endif -%}
{% set eventBefore = sample %}
{%- endif -%}
{%- endfor -%}
</table>
{% endblock %}
{% endblock %}
