{% extends "move/_move.html" %}

{% block tableHeader %}
{{ super() }}
<th>Pace</th>
<th>Strokes</th>
<th>m/stroke</th>
<th>strokes/min</th>
{% if move.poolLength %}<th>Pool Length</th>{% endif %}
{% endblock %}

{% block tableEntry %}
{{ super() }}
<td>{{swimPace | swimPace}}</td>
<td>{{move.strokeCount | int}}</td>
<td>{{"%.2f" | format(move.distance / move.strokeCount)}}</td>
<td>{{"%.1f" | format(60 * move.strokeCount / move.duration.total_seconds())}}</td>
{% if move.poolLength %}<td>{{move.poolLength}}</td>{% endif %}
{% endblock %}

{% block chartBlocks %}
{{chart.chartBlock('temperature')}}
{{chart.chartBlock('speed')}}
{% endblock %}

{% block chartScripts %}
{{chart.chartByTime('temperature', samples, 0.1, 'celcius')}}
{{chart.speedChartByTimeEquiDistance('speed', samples, move.poolLength, 'kmh')}}
{% endblock %}

{% block additionalInformation %}
{% block swimmingStyles %}
<h2>Styles</h2>
<table class="table table-condensed">
<tr>
    <th>Timestamp</th>
    <th>Time</th>
    <th>Style</th>
    <th>Classification Vector</th>
</tr>
{%- for sample in swimmingStyleChanges -%}
{%- if eventBefore -%}
<tr>
    <td>{{macros.dateTimeOffset(sample.time)}}</td>
    <td>{{(sample.time - eventBefore.time) | duration}}</td>
    <td>{{sample.events['swimming']['prevPoolLengthStyle']}}</td>
    <td class="json">{{sample.events['swimming']['classificationVector']['item'] | tojson}}</td>
</tr>
{%- endif -%}
{% set eventBefore = sample %}
{%- endfor -%}
</table>
{% endblock %}

{% block swimmingTurns %}
<h2>Turns</h2>
<table class="table table-condensed">
<tr>
    <th>Number</th>
    <th>Timestamp</th>
    <th>Time</th>
    <th>Distance</th>
    <th>Classification Vector</th>
</tr>
{%- for sample in swimmingTurns -%}
{%- if eventBefore -%}
<tr>
    <td>{{sample.events['swimming']['totalLengths']}}</td>
    <td>{{macros.dateTimeOffset(sample.time)}}</td>
    <td>{{(sample.time - eventBefore.time) | duration}}</td>
    <td>{{macros.formatMoveDistance(move, (sample.events['swimming']['totalLengths']|int) * move.poolLength)}}</td>
    <td class="json">{{sample.events['swimming']['classificationVector']['item'] | tojson}}</td>
</tr>
{%- endif -%}
{% set eventBefore = sample %}
{%- endfor -%}
</table>
{% endblock %}
{% endblock %}
