{% import '_macros.html' as macros with context %}

{% macro chart_block(id) -%}
<div id="{{id}}_chart" class="panel panel-default" style="margin: 15px auto;height: 300px; width: 800px"></div>
<div id="{{id}}_chart_slider" style="margin: auto; width: 200px;"></div>
{%- endmacro %}

{% macro chart_dashboard_block(id) %}
<div id="{{id}}_chart" style="min-width: 100px; margin: 0 auto"></div>
{% endmacro %}

{% macro chart_dashboard(attr, datadictionary, formatter, valuefactor=1) %}
    var categories = [ {% for category in datadictionary.keys() %}'{{category}}',{% endfor %} ]
    var values = [ {% for category in datadictionary.keys() %} {{datadictionary[category] * valuefactor}}, {% endfor %} ]
    {{chart_dashboard_raw(attr, categories, values, formatter)}}
{% endmacro %}

{% macro chart_dashboard_duration(attr, datadictionary, formatter) %}
    var categories = [ {% for category in datadictionary.keys() %}'{{category}}',{% endfor %} ]
    var values = [ {% for category in datadictionary.keys() %} moment.duration({{datadictionary[category]}}).asMilliseconds(), {% endfor %} ]
    {{chart_dashboard_raw(attr, categories, values, formatter)}}
{% endmacro %}

{% macro chart_dashboard_raw(attr, categories, values, formatter) %}
    $('#{{attr}}_chart').highcharts({
        chart: {type:'bar', height: categories.length * 28, borderWidth: 0, spacing:[3,4,3,3]},
        plotOptions: {bar:{animation: false, pointPadding: 0, groupPadding: 0.05,borderWidth: 0, shadow: false, color: '#5bc0de',
                           dataLabels: {enabled: true, formatter: {{formatter}}, align: 'left', color: 'contrast', y: 0,
                                        style: { "fontSize": "14px"}},
                           states: {hover: {enabled: true}}}},
        title: {"text": null },
        xAxis: {categories: categories, title: {text: null}, tickLength: 0, lineColor: 'transparent',
                labels: {style: { "fontSize": "14px"}} },
        yAxis: {min: 0, title: { text: null }, labels: { enabled: false }, endOnTick: false, maxPadding: 0, gridLineColor: 'transparent' },
        series: [{name: '{{attr}}', data: values }],
        legend: { enabled: false },
        tooltip: {enabled: false},
        credits: {enabled: false}
    });
{% endmacro %}

{% macro chart_with_slider(data, attr, prune_min_delta=0.0) %}
    var {{attr}}_chart_data = pruneLowDeltas({{data}}, {{prune_min_delta}});

    $('#{{attr}}_chart').highcharts({
        chart: {type:'spline',zoomType: 'y'},
        plotOptions: {spline:{marker:{enabled:false}}},
        title: {"text": '{{attr}}'},
        xAxis: {"title": {"text": 'time'}, "type": "datetime"},
        yAxis: {"title": {"text": '{{attr}}'}},
        series: [{
            "name": '{{attr}}',
            "data": {{attr}}_chart_data
        }]
    });

    $("#{{attr}}_chart_slider").slider({
        value: 3,
        min: 3,
        max: 51,
        step: 2,
        slide: function( event, ui ) {
            var chart = $('#{{attr}}_chart').highcharts();
            var newData = moveMean({{attr}}_chart_data, ui.value);
            var new_series = {
                name: chart.series[0].name + " (moving average "+ui.value+")",
                data: newData
            };
            if (chart.series.length == 1) {
                chart.addSeries(new_series);
            } else {
                chart.series[1].update(new_series);
            }
        }
    });

    if (pruneLowDeltas(pruneNulls({{attr}}_chart_data), {{prune_min_delta}}).length <= 2) {
        $("#{{attr}}_chart").hide();
        $("#{{attr}}_chart_slider").hide();
    }
{% endmacro %}

{% macro chart_with_slider_interval_sampling(data, attr, default_interval, interval_unit, unit) %}
    var {{attr}}_chart_data = {{data}};
    var {{attr}}_default_chart_data = calculateSpeed({{attr}}_chart_data, {{default_interval}}, {{unit}});


    $('#{{attr}}_chart').highcharts({
        chart: {type:'spline',zoomType: 'y'},
        plotOptions: {spline:{marker:{enabled:false}}},
        title: {"text": '{{attr}}'},
        xAxis: {"title": {"text": 'time'}, "type": "datetime"},
        yAxis: {"title": {"text": '{{attr}} [{{unit}}]'}},
        series: [{
            "name": '{{attr}}',
            "data": {{attr}}_default_chart_data
        }]
    });

    $("#{{attr}}_chart_slider").slider({
        value: {{default_interval}},
        min: {{default_interval}},
        max: {{10 * default_interval}},
        step: {{default_interval}},
        slide: function( event, ui ) {
            var chart = $('#{{attr}}_chart').highcharts();
            var new_data = calculateSpeed({{attr}}_chart_data, ui.value, {{unit}});
            var new_series = {
                name: chart.series[0].name + " (sampling interval: "+ui.value+" {{interval_unit}})",
                data: new_data
            };
            if (chart.series.length == 1) {
                chart.addSeries(new_series);
            } else {
                chart.series[1].update(new_series);
            }
        }
    });
{% endmacro %}

{% macro chart_by_time(attr, samples, prune_min_delta=0.0, unit=None) -%}
var {{attr}}_over_time = [{% for sample in samples -%}
    {%- if sample.time and sample[attr] -%}
        [{{macros.datetime_to_date_utc(move.date_time + sample.time)}}, {{sample[attr]}}],
    {%- elif sample.time and sample.events['pause'] -%}
        [{{macros.datetime_to_date_utc(move.date_time + sample.time)}}, null],
    {%- endif -%}
{%- endfor %}];
{%- if unit %}
    {{attr}}_over_time = mapData({{attr}}_over_time, {{unit}});
{% endif -%}
{{ chart_with_slider("%s_over_time" % attr, attr, prune_min_delta) }}
{%- endmacro %}

{% macro speed_chart_by_time_equidistance(attr, samples, default_distance_interval, unit=None) -%}
var {{attr}}_distance_over_time = [{% for sample in samples -%}
    {%- if sample.time and sample.distance -%}
        [{{macros.datetime_to_date_utc(move.date_time + sample.time)}}, {{sample.distance}}],
    {%- elif sample.time and sample.events['pause'] -%}
        [{{macros.datetime_to_date_utc(move.date_time + sample.time)}}, null],
    {%- endif -%}
{%- endfor %}];
{{ chart_with_slider_interval_sampling("%s_distance_over_time" % attr, attr, default_distance_interval, 'm', unit) }}
{%- endmacro %}
