{% macro location_short(location_raw) -%}
{%- if location_raw.address.city -%}
    {{location_raw.address.city}}
{%- elif location_raw.address.town -%}
    {{location_raw.address.town}}
{%- elif location_raw.address.village -%}
    {{location_raw.address.village}}
{%- endif -%}
, {{location_raw.address.country}}
{%- endmacro %}

{% macro temperature(value) -%}
{% if value %}<span>{{'%.1f' | format(value - 273.15)}}°C</span>{% endif %}
{%- endmacro %}

{% macro kmh(value) -%}
{%- if value -%}
<span>{{'%.1f' | format(value * 3.6)}} km/h</span>
{%- endif -%}
{%- endmacro %}

{% macro hr(value) -%}
{%- if value -%}
<span>{{'%d' | format(value * 60)}} bpm</span>
{%- endif -%}
{%- endmacro %}

{% macro datetime_to_date_utc(datetime) -%}
Date.UTC({{datetime.year}}, {{datetime.month}}, {{datetime.day}}, {{datetime.hour}}, {{datetime.minute}}, {{datetime.second}}, {{"%d" | format(datetime.microsecond/1000)}})
{%- endmacro %}


{% macro date_time_offset(offset) -%}
<span class="date-time">{{(move.date_time + offset) | date_time_millis}}</span>
{%- endmacro %}


{% macro format_hm(hm) -%}
{% if hm and hm > 0 %}{{hm}} m{% endif %}
{%- endmacro %}


{% macro format_distance(distance) -%}
{%- if distance > 1000 -%}
    {{'%0.2f' | format(distance / 1000.0)}} km
{%- elif distance < 1000 -%}
    {{'%0.3f' | format(distance / 1000.0)}} km
{%- endif %}
{%- endmacro %}


{% macro format_move_distance(move, distance) -%}
{%- if move.activity == 'Pool swimming' or move.activity == 'Outdoor swimming' -%}
    {{distance}} m
{%- else -%}
    {{format_distance(distance)}}
{%- endif -%}
{%- endmacro %}


{% macro format_duration(duration) -%}
    {{duration}} h
{%- endmacro %}


{% macro sortable(key, display_name, default_sort_order='desc') -%}
{%- if key == sort -%}
    {%- if sort_order=='desc' -%}
        {%- set _sort_order = 'asc' -%}
    {%- else -%}
        {%- set _sort_order = 'desc' -%}
    {%- endif -%}
{%- else -%}
    {%- set _sort_order = default_sort_order -%}
{%- endif -%}
<a href="{{url_for_sortable(key, sort_order=_sort_order)}}">{{display_name}}</a>
{%- if key == sort -%}
{%- if sort_order=='asc' -%}<span class="dropup">{%- endif -%}
<span class="caret"></span>
{%- if sort_order=='asc' -%}</span>{%- endif -%}
{%- endif -%}
{%- endmacro %}

