{% extends "_base.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/bootstrap-datetimepicker.min.js')}}"></script>

<script type="text/javascript">
    function reload_with_date(start_date, end_date) {
        window.location.href = flask_util.url_for('dashboard', {start_date: start_date.startOf('day').format(), end_date: end_date.endOf('day').format()});
    }

    $( document ).ready(function() {
        <!-- Pre-select the date time period dropdown by the selected date range -->
        var start_date = moment("{{start_date}}");
        var end_date = moment("{{end_date}}");

        var all_moves_start_date = moment().year(1970).month(0).date(1)
        var dropdown_selection = "custom"
        if(end_date.diff(start_date, 'weeks') == 1) {
          dropdown_selection = "1 week"
        } else if (end_date.diff(start_date, 'months') == 1) {
          dropdown_selection = "1 month";
        } else if (end_date.diff(start_date, 'years') == 1) {
          dropdown_selection = "1 year";
        } else if (start_date.year() == all_moves_start_date.year() &&
                   start_date.month() == all_moves_start_date.month() &&
                   start_date.date() == all_moves_start_date.date()) {
          dropdown_selection = "all moves";
        }

        $(".dropdown").find('.btn').find('.selection').text(dropdown_selection);
    });

    $(function () {
        <!-- Date time picker configuration -->
        $('#dtp_start').datetimepicker({
            defaultDate: '{{start_date}}',
            maxDate: '{{end_date}}',
            format: 'LL',          <!-- http://momentjs.com/docs/#/displaying/format/ -->
            calendarWeeks: true,
            showTodayButton: true
        });
        $('#dtp_end').datetimepicker({
            defaultDate: '{{end_date}}',
            minDate: '{{start_date}}',
            format: 'LL',          <!-- http://momentjs.com/docs/#/displaying/format/ -->
            calendarWeeks: true,
            showTodayButton: true
        });

        <!-- Linked date time pickers: http://eonasdan.github.io/bootstrap-datetimepicker/#linked-pickers -->
        $("#dtp_start").on("dp.change",function (e) {
            reload_with_date($('#dtp_start').data("DateTimePicker").date(), $('#dtp_end').data("DateTimePicker").date());
        });
        $("#dtp_end").on("dp.change",function (e) {
            reload_with_date($('#dtp_start').data("DateTimePicker").date(), $('#dtp_end').data("DateTimePicker").date());
        });

        $(".dropdown-menu li a").click(function(){
          $(this).parents(".dropdown").find('.btn').find('.selection').text($(this).text());
          var start_date = null;
          switch($(this).text()) {
              case "1 week":
                  start_date = moment().subtract(1, 'weeks');
                  break;
              case "1 month":
                  start_date = moment().subtract(1, 'months');
                  break;
              case "1 year":
                  start_date = moment().subtract(1, 'years');
                  break;
              case "all moves":
                  start_date = moment().year(1970).month(0).date(1);
                  break;
              default:
                  start_date = moment().subtract(1, 'months');
                  break;
          }
          reload_with_date(start_date, moment());
          ;
        });
    });
</script>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap-datetimepicker.css')}}">
{% endblock %}

{% set active_page = 'dashboard' -%}

{% block content %}
{{super()}}
<div class="container" role="main">
    <h3>Dashboard</h3>
    <div class="container">
        <div class='col-md-3'>
              <div>from:</div>
            <div class="form-group">
                <div class='input-group date' id='dtp_start'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div>to:</div>
            <div class="form-group">
                <div class='input-group date' id='dtp_end'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-1'>
            <div>&nbsp;</div>
            <!-- http://stackoverflow.com/questions/13437446/how-to-display-selected-item-in-bootstrap-button-dropdown-title -->
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Period: <strong><span class="selection">1 week</span></strong>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 week</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 month</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 year</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">all moves</a></li>
              </ul>
            </div>
        </div>
    </div>

    <table class="table table-striped table-auto-width">
      <tr><th>#Moves</th><td>{{nr_of_moves}}</td></tr>
      <tr><th>Total Distance</th><td>{{macros.format_distance(total_distance)}}</td></tr>
      <tr><th>Total Time</th><td>{{macros.format_duration(total_duration)}}</td></tr>
      <tr><th>Total Ascent</th><td>{{macros.format_hm(total_ascent)}}</td></tr>
      <tr><th>Total Descent</th><td>{{macros.format_hm(total_descent)}}</td></tr>
    </table>

    <h3>Moves</h3>
    <table class="table table-striped">
        <tr>
            <th>Time</th>
            <th>Activity</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Speed Avg</th>
            <th>Ascent</th>
            <th>Descent</th>
            <th>Temperature</th>
        </tr>
        {% for move in moves %}
        <tr>
            <td><a href="{{url_for('move', id=move.id)}}">{{move.date_time|date_time}}</a></td>
            <td>{{move.activity}}</td>
            <td>{{move.duration | duration}}</td>
            <td>{{macros.format_move_distance(move, move.distance)}}</td>
            <td>{{macros.kmh(move.speed_avg)}}</td>
            <td>{{macros.format_hm(move.ascent)}}</td>
            <td>{{macros.format_hm(move.descent)}}</td>
            <td>
                {{macros.temperature(move.temperature_min)}}
                -
                {{macros.temperature(move.temperature_max)}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
