{% extends "_base.html" %}

{% set active_page = 'dashboard' -%}

{% block content %}
{{super()}}
<div class="container" role="main">
    <h3>Dashboard</h3>
    <div>Moves from {{start_date|date_time}} until {{end_date|date_time}}</div><br/>
    <table class="table table-striped table-auto-width">
      <tr><th>#Moves</th><td>{{nr_of_moves}}</td></tr>
      <tr><th>Total Distance</th><td>{{macros.format_distance(total_distance)}}</td></tr>
      <tr><th>Total Time</th><td>{{macros.format_duration(total_duration)}}</td></tr>
      <tr><th>Total Ascent</th><td>{{macros.format_hm(total_ascent)}}</td></tr>
      <tr><th>Total Descent</th><td>{{macros.format_hm(total_descent)}}</td></tr>
    </table>

    <h3>Moves</h3>
    <table class="table table-striped">
        <tr>
            <th>Time</th>
            <th>Activity</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Speed Avg</th>
            <th>Ascent</th>
            <th>Descent</th>
            <th>Temperature</th>
        </tr>
        {% for move in moves %}
        <tr>
            <td><a href="{{url_for('move', id=move.id)}}">{{move.date_time|date_time}}</a></td>
            <td>{{move.activity}}</td>
            <td>{{move.duration | duration}}</td>
            <td>{{macros.format_move_distance(move, move.distance)}}</td>
            <td>{{macros.kmh(move.speed_avg)}}</td>
            <td>{{macros.format_hm(move.ascent)}}</td>
            <td>{{macros.format_hm(move.descent)}}</td>
            <td>
                {{macros.temperature(move.temperature_min)}}
                -
                {{macros.temperature(move.temperature_max)}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
