{% extends "_base.html" %}

{% set active_page = 'dashboard' -%}

{% block content %}
{{super()}}
<div class="container" role="main">
    <h1>Dashboard</h1>
    <div>Moves from {{macros.localdate(startDate)}} until {{macros.localdate(endDate)}}</div><br/>
    <table class="table table-striped table-auto-width">
      <tr><th>#Moves</th><td>{{nrOfMoves}}</td></tr>
      <tr><th>Total Distance</th><td>{{macros.formatDistance(totalDistance)}}</td></tr>
      <tr><th>Total Time</th><td>{{macros.formatDuration(totalDuration)}}</td></tr>
      <tr><th>Total Ascent</th><td>{{macros.formatHm(totalAscent)}}</td></tr>
      <tr><th>Total Descent</th><td>{{macros.formatHm(totalDescent)}}</td></tr>
    </table>

    <!--a href="{{url_for('dashboard', startDate=startDate, endDate=endDate)}}"> open</a-->

    <h3>Moves</h3>
    <table class="table table-striped">
        <tr>
            <th>Time</th>
            <th>Activity</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Speed Avg</th>
            <th>Ascent</th>
            <th>Descent</th>
            <th>Temperature</th>
        </tr>
        {% for move in moves %}
        <tr>
            <td><a href="{{url_for('move', id=move.id)}}">{{macros.localdate(move.dateTime)}}</a></td>
            <td>{{move.activity}}</td>
            <td>{{move.duration | duration}}</td>
            <td>{{macros.formatMoveDistance(move, move.distance)}}</td>
            <td>{{macros.kmh(move.speedAvg)}}</td>
            <td>{{macros.formatHm(move.ascent)}}</td>
            <td>{{macros.formatHm(move.descent)}}</td>
            <td>
                {{macros.temperature(move.temperatureMin)}}
                -
                {{macros.temperature(move.temperatureMax)}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
