{% extends "_base.html" %}

{% set active_page = 'import' -%}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/import.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
    <script type="text/javascript">
    $(document).ready(function() {
        init_date_range_parameters("all");
    });
    </script>
{% endblock %}

{% block content %}
{{super()}}
<div class="container" role="main">
	<div class="well">
		<p>Please find <code>*.sml</code> (Moveslink v1.2+) or <code>log-*.xml</code> (Moveslink v1.1) files in your <code>%AppData%/Suunto/Moveslink2</code> directory.</p>
		<p>Files can also be uploaded when compressed with gzip.
		Note that file type detection is based on filenames and thus files should <em>not</em> be renamed manually before uploading.</p>
	</div>
    <form class="form-import" action="{{url_for('move_import')}}" method="POST" enctype="multipart/form-data">
        <h2 class="form-import-heading">Import</h2>
        <input type="file" name="files" multiple="multiple" />
        <input type="hidden" name="start_date" id="start_date"/>
        <input type="hidden" name="end_date" id="end_date"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
    </form>
</div>
{% endblock %}
