{% extends "_base.html" %}

{% set active_page = 'import' -%}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/jquery.bootstrap-touchspin.min.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap-switch.min.css')}}">

<script src="jquery.js"></script>
<script src=""></script>


{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/jquery.bootstrap-touchspin.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/bootstrap-switch.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/bootstrap-filestyle.min.js')}}"></script>

<script type="text/javascript">
    $(function () {
        <!-- Initialize tooltips -->
        $('[data-toggle="pause_detection_tooltip"]').tooltip()

        <!-- Pause detection -->
        $("[name='gpx_option_pause_detection']").bootstrapSwitch();

        $('#gpx_option_pause_detection_threshold').attr('disabled', false);
        $('#gpx_option_pause_detection').bootstrapSwitch('state', true, true);
        $('input#gpx_option_pause_detection').on('switchChange.bootstrapSwitch', function(event, state) {
            $('#gpx_option_pause_detection_threshold').attr('disabled', !state);
        });

        $("input[name='gpx_option_pause_detection_threshold']").TouchSpin({
            min: 0,
            max: 604800, /* one week */
            initval: 120, /* sec */
            verticalbuttons: true,
            verticalupclass: 'glyphicon glyphicon-plus',
            verticaldownclass: 'glyphicon glyphicon-minus',
            postfix: 'sec'
        });

        <!-- File selection -->
        $(":file").filestyle();
    });
</script>
{% endblock %}

{% block content %}
{{super()}}

<div class="container" role="main">
    <h2 class="form-import-heading">Import</h2>

    <h3>Supported import formats and options</h3>
    <form action="{{url_for('move_import')}}" method="POST" enctype="multipart/form-data">
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Strava</h4>
                </div>
                <div class="panel-body">
                    {% if strava_activities %}
                        <table class="table">
                        <tr>
                            <th>Type</th>
                            <th>Time</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        {% for activity in strava_activities %}
                            <tr id="import_{{ activity.id }}">
                                <td>{{ activity.type }}</td>
                                <td>{{ activity.start_date_local }}</td>
                                <td><a href="https://www.strava.com/activities/{{ activity.id }}">{{ activity.name }}</a></td>
                                <td><button
                                        type="button"
                                        class="btn btn-primary btn-xs"
                                        onclick="
                                                var btn=$('#import_{{ activity.id }} button');
                                                btn.prop('disabled', true);
                                                $('tr#import_{{ activity.id }}').toggleClass('highlight', true);

                                                $.ajax({
                                                    url: '{{url_for('import_strava', activity_id=activity.id)}}',
                                                    type: 'GET',
                                                    success: function(response) {
                                                        var btn=$('#import_{{ activity.id }} button');
                                                        $('tr#import_{{ activity.id }}').toggleClass('highlight highlight-success');
                                                        move_url = flask_util.url_for('move', {id: response.move_id});
                                                        btn.prop('disabled', false);
                                                        btn.toggleClass('btn-primary btn-success');
                                                        btn.text('move ' + response.move_id);
                                                        btn.replaceWith('<a href=&quot;' + move_url + '&quot;>move ' + response.move_id + '</a>');
                                                    },
                                                    error: function(response) {
                                                        console.log(response);
                                                        var btn=$('#import_{{ activity.id }} button');
                                                        $('tr#import_{{ activity.id }}').toggleClass('highlight highlight-error');
                                                        btn.text('failed');
                                                        btn.toggleClass('btn-primary btn-danger');
                                                    }
                                                });

                                                btn.text('importing…')

                                                ">import</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% else %}
                        <a href="{{ strava_authorize_url }}">Request Access Token</a>
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                      Suunto Ambit Moveslink v1.2+
                  </h4>
               </div>
               <div class="panel-body">
                  Please find <code>*.sml</code> files in your <code>%AppData%/Suunto/Moveslink2</code> directory.
               </div>
        </div>
        <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      Suunto Ambit Moveslink v1.1
                  </h4>
              </div>
              <div class="panel-body">
                  Please find <code>*.xml</code> files in your <code>%AppData%/Suunto/Moveslink2</code> directory.
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      GPX v1.1
                  </h4>
              </div>
              <div class="panel-body">
                  <p>GPX format v1.1 with several extensions supported. File format extension <code>*.gpx</code>. Pauses will be introduced for every new track and track segment.</p>
                  <strong>Pause detection</strong>
                  <div class="row">
                      <div class="col-md-1" data-toggle="pause_detection_tooltip" data-placement="bottom" title="If enabled, pauses will be inserted in case the time difference between two track points is greater than the configured threshold value.">
                          <div class="checkbox">
                              <input type="checkbox" data-size="normal" data-label-width="15" id="gpx_option_pause_detection" name="gpx_option_pause_detection"/>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="checkbox">
                              <input type="text" class="form-control" id="gpx_option_pause_detection_threshold" name="gpx_option_pause_detection_threshold" placeholder="Pause detection threshold (sec)">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="well">
            <p>
                <span class="label label-info">Info</span> Files can also be uploaded when compressed with gzip.<br/>Note that file format detection is based on filenames and thus files should <em>not</em> be renamed manually before uploading.
            </p>
            <div class="row">
                <div class="col-md-7">
                    <input type="file" name="files" multiple="multiple" class="filestyle" data-buttonBefore="true" data-size="lg" data-iconName="glyphicon glyphicon-upload"/>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-lg btn-primary" type="submit">Upload</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="start_date" id="start_date"/>
        <input type="hidden" name="end_date" id="end_date"/>
    </form>


</div>
{% endblock %}
