{% extends "_base.html" %}

{% set active_page = 'import' -%}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/import.css')}}">
{% endblock %}

{% block content %}
{{super()}}

<div class="container" role="main">
    <h2 class="form-import-heading">Import</h2>
    <div class="well" align="left">
        <div class="row">
            <div class="col-md-12"><h3>Supported import formats</h3></div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4>Suunto Ambit Moveslink v1.2+</h4></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">Please find <code>*.sml</code> files in your <code>%AppData%/Suunto/Moveslink2</code> directory.</div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4>Suunto Ambit Moveslink v1.1</h4></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">Please find <code>*.xml</code> files in your <code>%AppData%/Suunto/Moveslink2</code> directory.</div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4>GPX v1.1</h4></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11"><span class="label label-warning">Warning</span> GPX import has strong experimental state!</div>
        </div>
        <br/>
        Files can also be uploaded when compressed with gzip.
        Note that file type detection is based on filenames and thus files should <em>not</em> be renamed manually before uploading.
    </div>
    <form class="form-import" action="{{url_for('move_import')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="files" multiple="multiple" />
        <input type="hidden" name="start_date" id="start_date"/>
        <input type="hidden" name="end_date" id="end_date"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
    </form>
</div>
{% endblock %}
