{% extends "_base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
{{super()}}
<div class="container" role="main">
    <div class="jumbotron">
        <h1>OpenMoves</h1>
        <p>An open source alternative to Movescount.</p>
        <h3>
          <span class="label label-default">{{nr_of_moves}} moves already analyzed</span>
        </h3>
    </div>
	<div class="page-header">
		<h2>Key features</h2>
	</div>

	<ul class="features">
		<li>Free and open-source software</li>
		<li>OpenStreetMap integration</li>
		<li>Plots with curve smoothing and outlier detection</li>
	</ul>

</div>
{% endblock %}
