{% extends "_base.html" %}

{% set active_page = 'login' -%}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/login.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
    <script type="text/javascript">
    $(document).ready(function() {
        init_date_range_parameters("1month");
    });
    </script>
{% endblock %}

{% block content %}
{{super()}}
<div class="container" role="main">
    <form class="form-login" method="POST">
        <h2 class="form-login-heading">Please sign in</h2>
        {{ form.csrf_token }}
        <label for="username" class="sr-only">Username</label>
        <input name="username" type="text" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
        <input type="hidden" name="start_date" id="start_date"/>
        <input type="hidden" name="end_date" id="end_date"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
</div>
{% endblock %}
