{% extends "_base.html" %}

{% set active_page = 'moves' -%}

{% block content %}
{{super()}}
<div class="container" role="main">
    <h3>{{total_moves_count}} Moves</h3>
    <table class="table table-striped">
        <tr>
            <th>{{macros.sortable('date_time', 'Time', 'asc')}}</th>
            <th>{{macros.sortable('activity', 'Activity', 'asc')}}</th>
            <th>{{macros.sortable('duration', 'Duration', 'desc')}}</th>
            <th>{{macros.sortable('distance', 'Distance', 'desc')}}</th>
            <th>{{macros.sortable('speed_avg', 'Speed', 'desc')}}</th>
            <th>{{macros.sortable('ascent', 'Ascent', 'desc')}}</th>
            <th>{{macros.sortable('descent', 'Descent', 'desc')}}</th>
            <th>{{macros.sortable('temperature_avg', 'Temperature', 'asc')}}</th>
            <th>{{macros.sortable('stroke_count', 'Strokes', 'desc')}}</th>
            <th></th>
        </tr>
        {% for move in moves %}
        <tr>
            <td><a href="{{url_for('move', id=move.id)}}">{{move.date_time | date_time}}</a></td>
            <td>{{move.activity}}</td>
            <td>{{move.duration | duration}}</td>
            <td>{{macros.format_move_distance(move, move.distance)}}</td>
            <td>{{macros.kmh(move.speed_avg)}}</td>
            <td>{{macros.format_hm(move.ascent)}}</td>
            <td>{{macros.format_hm(move.descent)}}</td>
            <td>{{macros.temperature(move.temperature_avg)}}</td>
            <td>{{move.stroke_count | int(default='')}}</td>
            <td>
                <a class="btn btn-xs btn-black" type="button" onclick="return confirm('Are you sure you want to delete this move?');" href="{{url_for('delete_move', id=move.id)}}"><span class="glyphicon glyphicon-remove" title="delete" aria-hidden="true"></span></a>
            </td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
