{% extends "_base.html" %}
{% import '_date_range_filter.html' as date_range_filter with context %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap-datetimepicker.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/bootstrap-datetimepicker.min.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        init_date_range_dropdown('{{start_date}}', '{{end_date}}');
        init_date_range_pickers('{{start_date}}', '{{end_date}}', 'moves');
        $('[data-toggle="tooltip"]').tooltip();

        $("input.move-checkbox:checkbox").change(function() {
            $(this).closest("tr").toggleClass("highlight", this.checked);

            num_checked = $("input.move-checkbox:checked").length;
            if (num_checked > 0) {
                $('#delete-button').removeAttr('disabled');
            } else {
                $('#delete-button').attr('disabled', true);
            }

            if (num_checked == 0) {
                $('#delete-button .text').text("Delete moves");
            } else if (num_checked == 1) {
                $('#delete-button .text').text("Delete 1 move");
            } else if (num_checked > 1) {
                $('#delete-button .text').text("Delete " + num_checked + " moves");
            }
        });

        $("input.move-checkbox:checked").change();
        $("#delete-button").click(function() {
            num_checked = $("input.move-checkbox:checked").length;
            if (!confirm("Are you sure to delete " + num_checked + " moves?")) {
                return;
            }

            var ids = $("input.move-checkbox:checked").map(function() {
                return "" + this.value;
            }).get();

            window.location.href = flask_util.url_for('delete_moves', {ids: ids.join(",")});
        });
    });
</script>
{% endblock %}

{% set active_page = 'moves' -%}

{% block content %}
{{super()}}
<div class="container page_{{active_page}}" role="main">
    <div class="row">
        <div class="col-sm-2 sidebar activity-filter">
            <div class="dropdown" data-toggle="tooltip" data-original-title="Select a predefined date range" data-placement="top">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Period: <strong><span class="selection">1 week</span></strong>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 week</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 month</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2 months</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6 months</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 year</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">all moves</a></li>
              </ul>
            </div>
            <br/>
            {{date_range_filter.start_date_dtp_block()}}
            {{date_range_filter.end_date_dtp_block()}}
            {% if total_moves_count > 0 %}
            <ul class="nav nav-pills nav-sidebar">
                <li {% if not request.args.filter %}class="active"{% endif %}>
                    <a class="all-moves" href="{{url_for('moves', start_date=start_date, end_date=end_date, sort=sort, sort_order=sort_order)}}">All moves <span class="badge">{{total_moves_count}}</span></a>
                </li>

                {% for activity in activity_counts %}
                {% set filter_query = 'activity:' + activity %}
                <li {% if request.args.filter == filter_query %}class="active"{% endif %}>
                    <a href="{{url_for('moves', start_date=start_date, end_date=end_date, filter=filter_query, sort=sort, sort_order=sort_order)}}">
                        {{activity}} <span class="badge">{{activity_counts[activity]}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="col-sm-9">
            {% if total_moves_count > 0 %}
            <table class="table table-striped moves">
            <thead>
                <tr>
                    <th></th>
                    <th>{{macros.sortable('date_time', 'Time', 'desc')}}</th>
                    {% if show_columns.activity -%}
                    <th>{{macros.sortable('activity', 'Activity', 'asc')}}</th>
                    {%- endif %}
                    {% if show_columns.location_address -%}
                    <th>Location</th>
                    {%- endif %}
                    <th>{{macros.sortable('duration', 'Duration', 'desc')}}</th>
                    <th>{{macros.sortable('distance', 'Distance', 'desc')}}</th>
                    {% if show_columns.speed_avg -%}
                        <th>{{macros.sortable('speed_avg', 'Avg. Speed', 'desc')}}</th>
                    {%- endif %}
                    {% if show_columns.speed_max -%}
                        <th>{{macros.sortable('speed_max', 'Max. Speed', 'desc')}}</th>
                    {%- endif %}
                    {% if show_columns.hr_avg -%}
                        <th>{{macros.sortable('hr_avg', 'Heart Rate', 'desc')}}</th>
                    {%- endif %}
                    <th>{{macros.sortable('temperature_avg', 'Temperature', 'asc')}}</th>
                    {% if show_columns.ascent -%}
                        <th>{{macros.sortable('ascent', 'Ascent', 'desc')}}</th>
                    {%- endif %}
                    {% if show_columns.descent -%}
                        <th>{{macros.sortable('descent', 'Descent', 'desc')}}</th>
                    {%- endif %}
                    {% if show_columns.recovery_time -%}
                        <th>{{macros.sortable('recovery_time', 'Recovery', 'desc')}}</th>
                    {%- endif %}
                    {% if show_columns.stroke_count -%}
                        <th>{{macros.sortable('stroke_count', 'Strokes', 'desc')}}</th>
                    {%- endif %}
                    {% if show_columns.pool_length -%}
                        <th>{{macros.sortable('pool_length', 'Pool length', 'desc')}}</th>
                    {%- endif %}
                    <th>{{macros.sortable('public', 'Status', 'desc')}}</th>
                </tr>
            </thead>
            <tbody>
                {% for move in moves %}
                <tr>
                    <td><input type="checkbox" class="move-checkbox" id="move-checkbox-{{move.id}}" value="{{move.id}}" /></td>
                    <td><a href="{{url_for('move', id=move.id)}}">{{move.date_time | date_time}}</a></td>
                    {% if show_columns.activity -%}
                    <td class="activity">{{macros.editable_activity(move)}}</td>
                    {%- endif %}
                    {% if show_columns.location_address -%}
                    <td>{% if move.location_address %}{{move.location_raw|short_location}}{% endif %}</td>
                    {%- endif %}
                    <td>{{move.duration | duration}}</td>
                    <td>{{macros.format_move_distance(move, move.distance)}}</td>
                    {% if show_columns.speed_avg -%}
                        <td>{{macros.kmh(move.speed_avg)}}</td>
                    {%- endif %}
                    {% if show_columns.speed_max -%}
                        <td>{{macros.kmh(move.speed_max)}}</td>
                    {%- endif %}
                    {% if show_columns.hr_avg -%}
                        <td>{{macros.hr(move.hr_avg)}}</td>
                    {%- endif %}
                    <td>{{macros.temperature(move.temperature_avg)}}</td>
                    {% if show_columns.ascent -%}
                        <td>{{macros.format_hm(move.ascent)}}</td>
                    {%- endif %}
                    {% if show_columns.descent -%}
                        <td>{{macros.format_hm(move.descent)}}</td>
                    {%- endif %}
                    {% if show_columns.recovery_time -%}
                        <td>{{move.recovery_time | duration}}</td>
                    {%- endif %}
                    {% if show_columns.stroke_count -%}
                        <td>{{move.stroke_count | int(default='')}}</td>
                    {%- endif %}
                    {% if show_columns.pool_length -%}
                        <td>{% if move.pool_length %}{{move.pool_length}} m{% endif %}</td>
                    {%- endif %}
                    <td>{{macros.editable_public(move, 'xs')}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            {% else %}
            <div class="well">No moves in selected date range.</div>
            {% endif %}
            <a id="delete-button" class="btn btn-default" type="button" disabled="disabled" href="#"><span class="glyphicon glyphicon-remove" title="delete" aria-hidden="true"></span> <span class="text">Delete moves</span></a>
        </div>
    </div>
</div>
{% endblock %}
